/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "abouts";
@import "folds";
@import "likes";
@import "sentences";
@import "users";



body{
  font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
}



/*#######  PRIMARY  #########*/



/*#######  使い回し  #########*/
.float-left{
	float: left;
}

.clearfix:after {
    content:" ";
    display:block;
    clear:both;
}

.no-css{
	background-color: none;
	border: none;
}

.zero-space{
	padding: 0;
	margin: 0;
}




/*####### For svg #########*/
.icon-color{
	fill: #707070;
}
.like-icon{
	fill: #E40037;
	}





/* スクロールする場所：固定ナビゲーションの高さ＋余白をpadding-topに指定*/
#contents {
	padding: 60px 0 0 0;
		@media screen and (max-width: 767px) {
			padding: 70px 0 60px 0;
		}
		@media screen and (min-width: 768px) {
			padding: 80px 0 60px 0;
		}
}





/*#######For global-navi#########*/
#global-navi {
		position: fixed;
		width: 100%;
		background-color: #FFFFFF;
		opacity: 0.95;
		z-index: 100;
		// box-shadow:0px 3px 19px -10px #000000;
		border-bottom:1px solid #cccccc;
		@media screen and (max-width: 767px) {
			height: 70px;
		}
		@media screen and (min-width: 768px) {
			height: 80px;
		}

}

#global-navi .container{
	height: 100%;
	text-align: center;
	width: auto;
}


.logo{
	z-index: 1000;
	float: left;
	display: inline-block;
	position:absolute;
	top: 0;
	left: 0;
	padding: 10px 0 0 10px;
	.nav-logo-img{
		@media screen and (max-width: 767px) {
			height: 40px;
		}
		@media screen and (min-width: 768px) {
			height: 50px;
		}
	}
	h1{
		font-size: 10px;
		margin: 4px 0 0 0;
	}
}

.mypage{
	z-index: 1000;
	.icon{
		border-radius: 4px;
		@media screen and (max-width: 767px) {
			width: 25px;
			height: 25px;
			margin-top: 12px;
		}
		@media screen and (min-width: 768px) {
			width: 35px;
			height: 35px;
			margin-top: 12px;
		}
	}
	.logo-center{
		margin-top: 10px;
		@media screen and (max-width: 767px) {
			height: 40px;
		}
		@media screen and (min-width: 768px) {
			height: 50px;
		}
	}
	h1{
		font-size: 10px;
		margin: 4px 0 0 0;
	}
}


.menu{
	z-index: 1000;
	float: right;
	position:absolute;
	top: 0;
	right: 0;
	margin: 10px 10px 0 0;
	text-align: right;
	.about{
			margin-top: 15px;
			@media screen and (max-width: 767px) {
				font-size: 10px;
			}
			@media screen and (min-width: 768px) {
				font-size: 15px;
			}
	}
}

.log-inout{
		.sign-up{
				color: #0065FF;
				@media screen and (max-width: 767px) {
					font-size: 10px;
				}
				@media screen and (min-width: 768px) {
					font-size: 15px;
				}
		}
		.log-in{
				@media screen and (max-width: 767px) {
					font-size: 10px;
				}
				@media screen and (min-width: 768px) {
					font-size: 15px;
				}
		}
		.log-out{
			font-size: 10px;
		}
}








/*#######  For ボディー  #########*/
body{
	color: #212121;
}


a{
	text-decoration: none;
	color: #212121;
}

a:hover{
	text-decoration: underline;
}



.panel-default{
	border: none;
}





/*#######  For カード  #########*/
.mdl-card{
	width: 100%;
	margin: 15px 0;
	min-height: 0;	/*material designの打ち消し*/
}

.upper-card{
	padding: 20px;
	border-bottom: solid #C4D0D3 1px;
}

		.s-icon{
			margin-right: 15px;
			width: 64px;
			height: 64px;
		}

		.s-icon img{
			width: 64px;
			height: 64px;
		}


		.s-name{
			margin: 10px 0 10px 0;
			font-size: 30px;
		}


.lower-card{
	padding: 20px;
}

		.s-ja,
		.s-ch,
		.s-pin{
			margin-bottom: 10px;
			word-wrap:break-word;
		}

		.s-ja:hover,
		.s-ch:hover,
		.s-pin:hover{
			color: #FFFFFF;
		}

		#panel{
			margin: 0;
		}

		.s-table{
			border-collapse: collapse;
			text-align: left;
			width:100%;
			table-layout: fixed;
			word-wrap:break-word;
		}

				.s-table th{
					border: solid white 1px;
					padding: 7px;
					background-color: #CFD8DC;
				}

				.s-table td{
					border: solid white 1px;
					padding: 7px;
					background-color: #DFECF2;
				}


// media query変数、bootstrapのgridに合わせてる
// $small:  "only screen and (max-width:767x)";
// $middle: "only screen and (min-width:767px) and (max-width:991px)";
// $large:  "only screen and (min-width:991px)";


// For post
.post{
	margin-top: 30px;

	.left-sentence-wrapper{
			position: relative;
			max-width: 80%
	}
	.icon{
		border-radius: 4px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%) translateX(-50%);
		@media screen and (max-width: 767px) {
			margin-left: 5px;
			width: 25px;
			height: 25px;
		}
		@media screen and (min-width: 768px) {
			width: 45px;
			height: 45px;
		}
	}
	.like-button{
		float: right;
	}
	.right_balloon{
		.words-button{
			text-align: right;
			border: none;
			background: #D8D8D8;
		}
		table{
			background-color: #FFFFFF;
			border-color: #D8D8D8;
		}
	}
}






/*******************************
* 左からの吹き出し
********************************/
.left_balloon {
		color: #FFFFFF;
    position: relative;
    background: #0065FF;
    margin: 10px 0;
    padding: 10px;
    border-radius: 15px;
    // clear: both; //アイコン横に並べるため。
    float: left;
    @media screen and (max-width: 767px) {
			margin-left: 25px;
		}
		@media screen and (min-width: 768px) {
			margin-left: 38px;
		}
}
.left_balloon:after,
.left_balloon:before {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.left_balloon:after {
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #0065FF;
    border-width: 7px;
    margin-top: -7px;
}
.left_balloon:before {
    border-color: rgba(0, 0, 0, 0);
    border-width: 8px;
    margin-top: -8px;
}

/*******************************
* 右からの吹き出し
********************************/
.right_balloon {
    position: relative;
    background: #D8D8D8;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    margin-left: 20%;
    clear: both;
    max-width: 500px;
    float: right;
}
.right_balloon:after,
.right_balloon:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.right_balloon:after {
    border-color: rgba(133, 226, 73, 0);
    border-left-color: #D8D8D8;
    border-width: 7px;
    margin-top: -7px;
}
.right_balloon:before {
    border-color: rgba(119, 119, 119, 0);
    border-width: 8px;
    margin-top: -8px;
}
/*******************************
* 割り込みを解除
********************************/
.clear_balloon{
  clear: both;
}







/*#######For footer-navi#########*/
.footer-navi {
		position: fixed;
		bottom: 0px;
		width: 100%;
		background-color: #FFFFFF;
		opacity: 0.95;
		z-index: 100;
		// box-shadow:0px 3px 19px -10px #000000;
		border-bottom:1px solid #cccccc;
		@media screen and (max-width: 767px) {
			height: 45px;
		}
		@media screen and (min-width: 768px) {
			height: 60px;
		}
}



// index-footer-navi + user-footer-navi
.footer-navi{
	.footer-left{
		float: left;
			.myfolds{
				float: left;
				margin: 0 10px;
			}
			.search{
				float: left;
			}
			.search-input{
				float: left;
				input{
					height: 30px;
					border-radius: 13px;
					font-size: 17px;
					margin-top: 10px;
					@media screen and (max-width: 767px) {
						width: 110px;
					}
					@media screen and (min-width: 768px) {
						width: 200px;
					}
				}
			}
			.search-input-infolds{
				float: left;
				input{
					height: 30px;
					border-radius: 13px;
					font-size: 17px;
					margin-top: 10px;
					@media screen and (max-width: 767px) {
						width: 50px;
					}
					@media screen and (min-width: 768px) {
						width: 200px;
					}
				}
			}
			.show_all_sentences{
				float: left;
				margin: 0 10px;
			}
	}
	.footer-right{
		float: right;
			.replace, .to-sentence-form{
				float: left;
				margin: 0 10px;
			}
	}
}



//////////// 文章投稿フォーム ////////////////
		.s-c-s{
		}

		.s-c-ja,
		.s-c-ch{
			width: 100%;
			height: 54px;
			font-size: 16px;
			background-color: #CFD8DC;
		}

		.w-c{
			list-style: none;
			padding: 0;
		}
				.w-c-ja,
				.w-c-ch{
					// font-size: 16px;
					// height: 18px;
					width: 45%;
				}

		.s-c-button{
			float: right;
		}


