// Place all the styles related to the sentences controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



// index-footer-navi
#index-footer-navi{
	.footer-left{
		float: left;
			.myfolds{
				float: left;
				margin: 0 10px;
			}
			.search{
				float: left;
			}
			.search-input{
				float: left;
				input{
					height: 30px;
					border-radius: 13px;
					font-size: 17px;
					margin-top: 10px;
					@media screen and (max-width: 767px) {
						width: 110px;
					}
					@media screen and (min-width: 768px) {
						width: 200px;
					}
				}
			}
	}
	.footer-right{
		float: right;
			.replace, .to-sentence-form{
				float: left;
				margin: 0 10px;
			}
	}
}