<table class="table table-bordered table-responsive-sm">
	<thead>
		<tr>
			<th class="black-back white-col"></th>
			<th class="black-back white-col">中国語</th>
			<th class="black-back white-col">ピンイン</th>
			<th class="black-back white-col" >日本語</th>
			<th class="black-back white-col"></th>
		</tr>
	</thead>
	<tbody>
		<% sentences.each do |sentence| %>
			<% sentence.words.each do |word| %>
				<% if user_signed_in? && sentence.user_id == current_user.id %>
					<tr id="word_btn_c_to_j_<%= word.id %>">
						<%= render :partial => 'words/word_hide_c_to_j', :locals=>{word: word} %>
					</tr>
				<% end %>
			<% end %>
		<% end %>
	</tbody>
</table>